body {
    background: rgba(163, 45, 45, 1) !important;
}

/*HEADER*/
.banner {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.logo {
    display: block;
    text-align: center;
}

.logo img {
    width: 25%;
    margin-top: 10px;
}
.menu {
    margin-top: 40px;
    text-align: center;
    display: none;
}

.menu a {
    padding: 3px 13px 6px;
    color: white;
    display: inline-block;
    font-size: 22px;
    margin: 0 4%;
    letter-spacing: 1px;
    text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
    transition: all .7s;
    border-radius: 3px;
}

.menu a:hover {

    text-decoration: none;
    background-color: white;
    color: #C34646;
    text-shadow: 0px 0px 5px rgba(150, 150, 150, 0.3);
}

.current {
    background-color: white;
    color: #C34646 !important;
    text-shadow: 0px 0px 5px rgba(150, 150, 150, 0.3) !important;
}
.menu2{
    margin-top: 40px;
}
/*İÇERİK*/
.icerik {
    width: 100%;
    height: 430px;
    position: relative;
    margin-top: 5%;
    margin-bottom: 10%;
    background-color: rgba(10, 10, 10, .2) !important;
    transition: all .5s;
}

.alt-icerik {
    position: relative;
    width: 80%;
    height: 100%;
    margin: auto;
}

.yazi {
    padding-top: 20px;
}

.b2 {
    margin-top: 20px;
}

.profil {
    float: left;
    width: 300px;
    margin-right: 20px;
}

.profil img {
    width: 95%;
}

.kart {
    overflow: hidden;
    height: 250px;
    transition: 0.5s;
    margin-top: 20px;
}

.kart1 {
    height: 170px;
    transition: 0.5s;
}

.kart2 {
    margin-top: -19%;
}

.kart p {
    margin-bottom: 25px;
}

.panel {
    width: 100%;
    height: 20px;
    background-color: #1d1d1d;
    text-align: center;
    transition: 0.5s;
}

.kart1:hover {
    margin-top: 0px;
}

.kart1:hover .panel {
    opacity: 0;
}

.material-icons {
    margin-top: -5px;
    font-size: 30px !important;
}

/*FOOTER*/
.footer {
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: #1d1d1d;
    display: block;
}



/*PC*/
@media screen and (max-width:1200px) {
    .b2 {
        font-size: 15px;
    }

    .kart1 {
        margin-top: -30%;
    }

}

/*TABLET*/
@media screen and (max-width:990px) {
    .profil {
        float: left;
        width: 300px;
        margin-right: 0px;
    }

    .profil img {
        width: 80%;
    }

    .kart {
        height: 250px;
        margin-top: 0px;
    }

    .kart1 {
        margin-top: 0;
    }

    .kart p {
        margin-bottom: 0;
        font-size: 14px;
    }

    .panel {
        display: none;
    }

    .material-icons {
        display: none;
    }




}

/*MOBİL*/
@media screen and (max-width:765px) {

    .banner {
        display: none;
    }

    .logo {
        background-color: #a83838;
    }

    .logo img {
        width: 50%;
        margin-top: 20px;
    }

    .menu {
        margin-top: 10px;
        text-align: center;
        display: block;
    }
    .ana-menu{
        display: none;
    }
    .menu a {
        color: white;
        display: block;
        width: 100%;
        font-size: 22px;
        letter-spacing: 1px;
        text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
        margin: auto;
    }

    .menu a:hover {
        border-radius: 0px;
        text-decoration: none;
        background-color: white;
        color: #C34646;
        transition: all .7s;
        text-shadow: 0px 0px 5px rgba(150, 150, 150, 0.5);
    }

    .icerik {
        width: 95% !important;
        height: 450px;
        position: relative;
        margin-top: 5%;
        background-color: #822424;
    }

    .profil {
        display: none;
    }

    .kart {
        height: auto;
    }

    .yazi h4 {
        text-align: center;
    }

    .yazi {
        text-align: justify;
    }
}
